body {
  font-size: 12px;
  -webkit-user-select: none;
}
a {
  cursor: default;
}
.navbar {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.03);
}
.navbar .brand {
  padding-left: 20px;
}
.main {
  position: absolute;
  top: 31px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
#preview {
  font: 13px;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  color: #333;
  line-height: 1.4;
}
#preview div {
  display: block;
}
#preview .credits {
  font: 10px Helvetica, arial, freesans, clean, sans-serif;
  color: #333;
  line-height: 1.4;
  margin: 10px;
}
#preview .markdown-body > :first-child {
  margin-top: 0!important;
}
#preview .markdown-body > :last-child {
  margin-bottom: 0!important;
}
#preview a.absent {
  color: #c00;
}
#preview a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
#preview h1,
#preview h2,
#preview h3,
#preview h4,
#preview h5,
#preview h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}
#preview h1 .mini-icon-link,
#preview h2 .mini-icon-link,
#preview h3 .mini-icon-link,
#preview h4 .mini-icon-link,
#preview h5 .mini-icon-link,
#preview h6 .mini-icon-link {
  display: none;
  color: #000;
}
#preview h1:hover a.anchor,
#preview h2:hover a.anchor,
#preview h3:hover a.anchor,
#preview h4:hover a.anchor,
#preview h5:hover a.anchor,
#preview h6:hover a.anchor {
  text-decoration: none;
  line-height: 1;
  padding-left: 0;
  margin-left: -22px;
  top: 15%;
}
#preview h1:hover a.anchor .mini-icon-link,
#preview h2:hover a.anchor .mini-icon-link,
#preview h3:hover a.anchor .mini-icon-link,
#preview h4:hover a.anchor .mini-icon-link,
#preview h5:hover a.anchor .mini-icon-link,
#preview h6:hover a.anchor .mini-icon-link {
  display: inline-block;
}
#preview h1 tt,
#preview h1 code,
#preview h2 tt,
#preview h2 code,
#preview h3 tt,
#preview h3 code,
#preview h4 tt,
#preview h4 code,
#preview h5 tt,
#preview h5 code,
#preview h6 tt,
#preview h6 code {
  font-size: inherit;
}
#preview h1 {
  font-size: 28px;
  color: #000;
}
#preview h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: #000;
}
#preview h3 {
  font-size: 18px;
}
#preview h4 {
  font-size: 16px;
}
#preview h5 {
  font-size: 14px;
}
#preview h6 {
  color: #777;
  font-size: 14px;
}
#preview p,
#preview blockquote,
#preview ul,
#preview ol,
#preview dl,
#preview table,
#preview pre {
  margin: 15px 0;
}
#preview hr {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
}
#preview .markdown-body > h2:first-child,
#preview .markdown-body > h1:first-child,
#preview .markdown-body > h1:first-child + h2,
#preview .markdown-body > h3:first-child,
#preview .markdown-body > h4:first-child,
#preview .markdown-body > h5:first-child,
#preview .markdown-body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
#preview a:first-child h1,
#preview a:first-child h2,
#preview a:first-child h3,
#preview a:first-child h4,
#preview a:first-child h5,
#preview a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
#preview h1 + p,
#preview h2 + p,
#preview h3 + p,
#preview h4 + p,
#preview h5 + p,
#preview h6 + p {
  margin-top: 0;
}
#preview li p.first {
  display: inline-block;
}
#preview ul,
#preview ol {
  padding-left: 30px;
}
#preview ul.no-list,
#preview ol.no-list {
  list-style-type: none;
  padding: 0;
}
#preview ul li > :first-child,
#preview ol li > :first-child {
  margin-top: 0;
}
#preview ul ul,
#preview ul ol,
#preview ol ol,
#preview ol ul {
  margin-bottom: 0;
}
#preview dl {
  padding: 0;
}
#preview dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
#preview dl dt:first-child {
  padding: 0;
}
#preview dl dt > :first-child {
  margin-top: 0;
}
#preview dl dt > :last-child {
  margin-bottom: 0;
}
#preview dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
#preview dl dd > :first-child {
  margin-top: 0;
}
#preview dl dd > :last-child {
  margin-bottom: 0;
}
#preview blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}
#preview blockquote > :first-child {
  margin-top: 0;
}
#preview blockquote > :last-child {
  margin-bottom: 0;
}
#preview table th {
  font-weight: bold;
}
#preview table th,
#preview table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}
#preview table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}
#preview table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
#preview img {
  max-width: 100%;
}
#preview span.frame {
  display: block;
  overflow: hidden;
}
#preview span.frame > span {
  border: 1px solid #ddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}
#preview span.frame span img {
  display: block;
  float: left;
}
#preview span.frame span span {
  clear: both;
  color: #333;
  display: block;
  padding: 5px 0 0;
}
#preview span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
#preview span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}
#preview span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
#preview span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
#preview span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}
#preview span.align-right span img {
  margin: 0;
  text-align: right;
}
#preview span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}
#preview span.float-left span {
  margin: 13px 0 0;
}
#preview span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}
#preview span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}
#preview code,
#preview tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}
#preview pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
#preview .highlight pre,
#preview pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
#preview pre code,
#preview pre tt {
  background-color: transparent;
  border: none;
}
#preview .highlight {
  background: #ffffff;
}
#preview .highlight .c {
  color: #999988;
  font-style: italic;
}
#preview .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
#preview .highlight .k {
  font-weight: bold;
}
#preview .highlight .o {
  font-weight: bold;
}
#preview .highlight .cm {
  color: #999988;
  font-style: italic;
}
#preview .highlight .cp {
  color: #999999;
  font-weight: bold;
}
#preview .highlight .c1 {
  color: #999988;
  font-style: italic;
}
#preview .highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
#preview .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
#preview .highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
#preview .highlight .ge {
  font-style: italic;
}
#preview .highlight .gr {
  color: #aa0000;
}
#preview .highlight .gh {
  color: #999999;
}
#preview .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
#preview .highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
#preview .highlight .go {
  color: #888888;
}
#preview .highlight .gp {
  color: #555555;
}
#preview .highlight .gs {
  font-weight: bold;
}
#preview .highlight .gu {
  color: #800080;
  font-weight: bold;
}
#preview .highlight .gt {
  color: #aa0000;
}
#preview .highlight .kc {
  font-weight: bold;
}
#preview .highlight .kd {
  font-weight: bold;
}
#preview .highlight .kn {
  font-weight: bold;
}
#preview .highlight .kp {
  font-weight: bold;
}
#preview .highlight .kr {
  font-weight: bold;
}
#preview .highlight .kt {
  color: #445588;
  font-weight: bold;
}
#preview .highlight .m {
  color: #009999;
}
#preview .highlight .s {
  color: #d14;
}
#preview .highlight .na {
  color: #008080;
}
#preview .highlight .nb {
  color: #0086B3;
}
#preview .highlight .nc {
  color: #445588;
  font-weight: bold;
}
#preview .highlight .no {
  color: #008080;
}
#preview .highlight .ni {
  color: #800080;
}
#preview .highlight .ne {
  color: #990000;
  font-weight: bold;
}
#preview .highlight .nf {
  color: #990000;
  font-weight: bold;
}
#preview .highlight .nn {
  color: #555555;
}
#preview .highlight .nt {
  color: #000080;
}
#preview .highlight .nv {
  color: #008080;
}
#preview .highlight .ow {
  font-weight: bold;
}
#preview .highlight .w {
  color: #bbbbbb;
}
#preview .highlight .mf {
  color: #009999;
}
#preview .highlight .mh {
  color: #009999;
}
#preview .highlight .mi {
  color: #009999;
}
#preview .highlight .mo {
  color: #009999;
}
#preview .highlight .sb {
  color: #d14;
}
#preview .highlight .sc {
  color: #d14;
}
#preview .highlight .sd {
  color: #d14;
}
#preview .highlight .s2 {
  color: #d14;
}
#preview .highlight .se {
  color: #d14;
}
#preview .highlight .sh {
  color: #d14;
}
#preview .highlight .si {
  color: #d14;
}
#preview .highlight .sx {
  color: #d14;
}
#preview .highlight .sr {
  color: #009926;
}
#preview .highlight .s1 {
  color: #d14;
}
#preview .highlight .ss {
  color: #990073;
}
#preview .highlight .bp {
  color: #999999;
}
#preview .highlight .vc {
  color: #008080;
}
#preview .highlight .vg {
  color: #008080;
}
#preview .highlight .vi {
  color: #008080;
}
#preview .highlight .il {
  color: #009999;
}
#preview .highlight .gc {
  color: #999;
  background-color: #EAF2F5;
}
#preview .type-csharp .highlight .k {
  color: #0000FF;
}
#preview .type-csharp .highlight .kt {
  color: #0000FF;
}
#preview .type-csharp .highlight .nf {
  color: #000000;
  font-weight: normal;
}
#preview .type-csharp .highlight .nc {
  color: #2B91AF;
}
#preview .type-csharp .highlight .nn {
  color: #000000;
}
#preview .type-csharp .highlight .s {
  color: #A31515;
}
#preview .type-csharp .highlight .sc {
  color: #A31515;
}
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #f6f6f6;
  border: 0;
  opacity: 0.3;
}
::-webkit-scrollbar:hover {
  background-color: #f6f6f6;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  opacity: 0.3;
  display: block;
  background-color: #c6c6c6;
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid transparent;
  border-width: 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #949494;
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}
