::-webkit-scrollbar-thumb {
  display: none;
}

.navbar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
	a.brand {
		margin-left: 0px	
	}
	.nav {
		-webkit-user-select: none;
		-webkit-app-region: no-drag;
		&.actions {
			margin-right: 10px;
			li {
				opacity: .6;
				&:hover {
					opacity: .9;
				}
				a {
					padding: 10px 5px;
				}
				
			}
		}
	}
	.dropdown-menu {
		padding-top: 6px;
	}
}
.body {
	margin-top: 30px;
}
.document-title {
	font-size: 20px;
	font-weight: 200;
	color: #777;
	text-shadow: 0 1px 0 white;
}

#editor, #preview {
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
}

#preview {
	z-index: 10;
	background: #f3f3f3;
	overflow-x: hidden;
	overflow-y: scroll;
	& > .container {
		width: auto;
		background: white;
		margin: 15px 25px;
		padding: 20px;
		box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	}
	.dock-btn {
		visibility: hidden;
	}

	&:hover {
		.dock-btn {
			visibility: visible;
		}
	}
}
.preview-pane-docked {
	#editor {
		bottom: 50%;
		box-shadow: 0 -1px 10px rgba(0,0,0,0.1);
	}
	#preview {
		top: 50%;
		border-top: 1px solid #d4d4d4;
	}
}

.document-list {
	margin: 0px 10px;
}
.document-list-item {
	float: left;
	width: 80px;
	height: 80px;
	margin: 5px;
	text-align: center;
	color: #e2e2e2;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	line-height: 80px;

	&, &:hover {
		text-decoration: none;
		border: 3px dashed #d2d2d2;
		// border-radius: 10px;
		box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
		color: #ccc;
	}

	&.new {
		font-size: 30px;
		border: 3px dashed #e2e2e2;
		box-shadow: none;
		border-radius: 10px;
	}
	&.checked {
		border-color: #bd362f;
		color: #bd362f;
	}
}

#preview {
	@import 'markdown';
}

@import 'scrollbar';