<!doctype html>
<html ng-controller="app">
  <head>
    <title>Docular!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/google-bootstrap.css">
    <link rel="stylesheet" href="css/toastr.min.css">
    <link rel="stylesheet" href="css/icons/style.css">
    <script src="js/libs/jquery-1.8.3.min.js"></script>
    <script src="js/libs/toastr.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/bootbox.min.js"></script>
    <script src="js/libs/coffee-script.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/ace/ace.js"></script>
    <script src="js/libs/ace/mode-markdown.js"></script>
    <script src="js/libs/ace/theme-github.js"></script>
    <link rel="stylesheet/less" type="text/css" href="css/app.less">
    <script type="text/coffeescript" src="js/app.coffee"></script>
    <script src="js/libs/less-1.3.1.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" ng-cloak>
        <ul class="nav">
          <li>
            <a class="dropdown-toggle document-title" data-toggle="dropdown" href="#" ng-click="setProperties()">
              {{editing.doc.title}}
              <span ng-show="editing.dirty">*</span>
            </a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-reorder"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="#" ng-click="export()"><i class="icon-share"></i> Export</a>
              </li>
              <li>
                <a href="#" ng-click="syncToGist()"><i class="icon-github"></i> Sync to Gist</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#" ng-click="exit()"><i class="icon-exit"></i> Exit</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="nav">
          <li><a href="#" ng-click="selectDocument()"><i class="icon-folder-open"></i> Documents</a></li>
          <li ng-class="previewMode && 'active' || ''"><a href="#" ng-click="preview()"><i class="icon-eye"></i> Preview</a></li>
          <li ng-show="editing.dirty"><a href="#" ng-click="saveDocument()"><i class="icon-disk"></i> Save</a></li>
        </ul>
<!--         <ul class="nav pull-right">
          <li><a href="#"><i class="icon-align-left"></i> Outline</a></li>
        </ul> -->
      </div>
    </div>
    <div class="body">
      <div ng-cloak class="editor">
        <div id="editor"></div>
      </div>
      <div ng-cloak class="preview" ng-show="previewMode">
        <div class="content" ng:bind-html="previewDocument"></div>
      </div>

      <div class="modal hide fade" id="doc-selector">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Select Document...</h4>
        </div>
        <div class="modal-body">
          <div class="document-list">
            <a href="#" class="document-list-item new" ng-click="newDocument()" ng-hide="deleteMode">
              +
            </a>
            <a href="#" class="document-list-item" ng-repeat="doc in documents" ng-click="selectDocument(doc)" ng-class="doc.checked && 'checked' || ''">
              {{doc.title}}
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn pull-left" ng-click="enterDeleteMode()">Delete</div>
          <div class="btn" data-dismiss="modal">Cancel</div>
          <div class="btn btn-danger" ng-click="deleteSelected()" ng-show="deleteMode"><i class="icon-trash icon-white"></i> Delete All</div>
        </div>
      </div>

      <div class="modal hide fade" id="doc-properties">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Document properties</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="document_title">Title</label>
              <div class="controls">
                <input type="text" id="document_title" placeholder="Title" ng-model="editing.doc.title">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="document_description">Description</label>
              <div class="controls">
                <textarea id="document_description" placeholder="Description" ng-model="editing.doc.description" rows="5" class="input-xlarge"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div class="btn" data-dismiss="modal">Cancel</div>
          <div class="btn btn-primary" data-dismiss="modal">Ok</div>
        </div>
      </div>


    </div>
  </body>
</html>